# This file is gitignore for software project.

# Ignore these files and directories.
lib/

CMake*
Makefile
main
!CMakeLists.txt

.vscode/*
!.vscode/c_cpp_properties.json

!LICENSE

eigen-3.3.9

# test file
*.csv